<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wjstar.transfer.mapper.BbSalesRecordMapper">
  <resultMap id="BaseResultMap" type="top.wjstar.transfer.model.BbSalesRecord">
    <!--@mbg.generated-->
    <!--@Table bb_sales_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="sale_date" jdbcType="DATE" property="saleDate" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="revenue" jdbcType="DECIMAL" property="revenue" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, warehouse_id, product_id, sale_date, quantity, revenue, created_time
  </sql>
</mapper>